



<div class="row">
    <div class="col-md-6">
        <h2>OebbBot</h2>


        <iframe width="500" height="700" src='https://webchat.botframework.com/embed/oebbBot?s=htXyU5Ne9cg.cwA.qOs.q2kylfhvLwG7wWfSffhQsKwQNPkj0a_2mQirgxNdBmo'></iframe>
      </div>
    <div class="col-md-6">
        <h2>Examples</h2>
        <p>Book tickets from Vienna to Salzburg tomorrow at 5 for 6 people and 2 cars as well as 3 motorcycles and 1 bike. All of us have a vorteilscard</p>
        <h2>Language Understanding</h2>
        <p>The Language Understanding is trained to unterstand:</p>
        <ul>
            <li>people: persons, guys, me and john, ...</li>
            <li>time: 1.1.2017 at 5pm, today at 6, ...</li>
            <li>entities like cars, bycicles, motorcycles, vortielscard</li>
            <li>numbers: matches numbers to the closest entity</li>
            <li>intent to book a ticket: get next train to, book ticket, ...</li>
        </ul>
        <h2>Translation Support</h2>
        <p>Default language is english</p>
        <p>To change language say: switch to german</p>
        <p>This uses Bing Translate and there might be grammer errors as well as errors with the language understading</p>

        <p><a class="btn btn-default" href="https://github.com/eldanielo/OebbBot">Source Code&raquo;</a></p>

        <p><a class="btn btn-default" href="https://github.com/eldanielo/OebbBot/blob/master/oebbBot.json">LUIS APP&raquo;</a></p>

    </div>

</div>