@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bots</h1>
    <p class="lead">Some Bots to demonstrate the Microsoft Bot Framework</p>
    <p><a href="http://dev.botframework.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bot for banking</h2>
        <p>
            Transfer 1 million euros to john on december second every year
        </p>
        <p><a class="btn btn-default" href="/Home/Raiffeisen">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bot for booking train tickets</h2>
        <p>Book tickets from Vienna to Salzburg tomorrow at 5 for 6 people and 2 cars as well as 3 motorcycles and 1 bike.  <p>
        <p><a class="btn btn-default" href="/Home/oebb">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bot for finding information on a website</h2>
        <p>Am I allowed to park my car in Vienna?</p>
        <p><a class="btn btn-default" href="/Home/helpgv">Learn more &raquo;</a></p>
    </div>
</div>