
<div class="row">
    <div class="col-md-6">
        <h2>PalfingerBot</h2>


        <iframe width="500" height="700" src='https://webchat.botframework.com/embed/BankBotRaiffeisen?s=9WV8vjAN6nI.cwA.ZDw.MOoRI_9Icw5R8v1zk9pMPPlgSTeuMXnOhO2NDusiGww'></iframe>    </div>
    <div class="col-md-6">
        <h2>Examples</h2>
        <p>Ich suche einen Greifer</p>
        <p>Wo ist das näheste Serice Center</p>
        <p>Wo kann ich meinen Kran reparieren lassen?</p>
        <h2>Language Understanding</h2>
        <p>The Language Understanding is trained to unterstand:</p>
        <ul>
            <li>numbers: 100 kg, 10 meter, etc...</li>
            <li>Intention ein Fahrzeug zu finden</li>
            <li>Intention eine Service Center zu finden</li>

        </ul>
  
    </div>

</div>
