
<div class="row">
    <div class="col-md-6">
        <h2>Raiffeisen</h2>


        <iframe width="500" height="700" src='https://webchat.botframework.com/embed/BankBotRaiffeisen?s=9WV8vjAN6nI.cwA.ZDw.MOoRI_9Icw5R8v1zk9pMPPlgSTeuMXnOhO2NDusiGww'></iframe>    </div>
    <div class="col-md-6">
        <h2>Examples</h2>
        <p>Transfer 1 million euros to john on december second every year</p>
        <h2>Language Understanding</h2>
        <p>The Language Understanding is trained to unterstand:</p>
        <ul>
            <li>money: 100 Euro, 1 million $, etc...</li>
            <li>times: on 1.1.2014, today, etc...</li>
            <li>schedules: every year, etc...</li>
            <li>recipients: names, IBANS, etc...</li>
            <li>intent to transfer something: transfer, pay, send, etc...</li>
        </ul>
        <h2>Translation Support</h2>
        <p>Default language is english</p>
        <p>To change language say: switch to german</p>
        <p>This uses Bing Translate and there might be grammer errors as well as errors with the language understading</p>

        <p><a class="btn btn-default" href="https://github.com/eldanielo/BankBot">Source Code&raquo;</a></p>

        <p><a class="btn btn-default" href="https://github.com/eldanielo/BankBot/blob/master/BankBot.json">LUIS APP&raquo;</a></p>

    </div>

</div>
